<!DOCTYPE html>
<html>
<head>
    <title>vuejs-第二种实现方式2</title>
    <meta charset="utf-8">
</head>
<body>

<div id="app">
    <input v-model="message" />
    {{message}}
</div> 
<script>
// 响应式的数据绑定
// 2.输入框内容变化时，data中的数据同步变化。即view => model的变化。
// 对作用范围内的html进行遍历提取
function compile(node, vm) {
    var reg = /\{\{(.*)\}\}/;
    // dom节点类型是元素——<input v-model="message" />
    if ( node.nodeType===1 ) {
        var attr = node.attributes;
        for(var i = 0; i<attr.length; i++) {
            if( attr[i].nodeName==='v-model' ) {
                // 获取v-model绑定的属性名
                var name = attr[i].nodeValue;
                node.addEventListener('input', function(e) {
                    vm[name] = e.target.value;
                    console.log(vm[name]);
                }, false);
                // 将data的值赋给node
                node.value = vm[name];
                node.removeAttribute('v-model');
            }
        }
    }
    // dom节点类型是text——{{message}}
    if ( node.nodeType===3 ) {
        if( reg.test(node.nodeValue) ) {
            // 获取匹配到的字符串
            var name = RegExp.$1;
            // trim（）—— ES5的新方法，之后不用自己写
            name = name.trim();
             // 将data的值赋给node
            node.nodeValue = vm[name];
        }
    }
}

// 重新创建html
function nodeToFragment(node, vm) {
    // 新建一个文档碎片
    var flag = document.createDocumentFragment(),
        child;
    // 这里的node就是<div id="app"><input v-model="message" />{{message}}</div> 
    while ( child=node.firstChild ) {
        compile(child, vm);
        // 子节点劫持到文档碎片中
        flag.appendChild(child);
    }
    return flag;
}

function definedReactive(obj , key, val) {
    Object.defineProperty(obj, key, {
        get : function() {
            return val;
        },
        set : function(newVal) {
            if ( newVal===val ) {
                return ;
            }
            val = newVal;
            console.log(newVal);
        }
    });
}

function observe(obj, vm) {
    //获取所有的可枚举的属性，返回一个数组
    Object.keys(obj).forEach( function(key) {
        definedReactive(vm, key, obj[key]);
    });
}

function Vue(options) {
    this.data = options.data;

    var data = this.data;
    observe(data, this);

    var id = options.el,
        dom = nodeToFragment(document.querySelector('#'+id), this);
    // 将dom返回到app里面
    document.querySelector('#'+id).appendChild(dom);
}


let vue = new Vue({
    el : 'app',
    data : {
        message : '二胖'
    }
});
</script>
</body>
</html>